<div  class="heading">
  <strong >PokeDex</strong>
  {{#link-to "pokedex" (query-params sort_value="name" order=null)}}
    PokeDex
  {{/link-to}}
  {{#link-to "welcome" }}
    Home
  {{/link-to}}

</div>

{{outlet}}